<div class="desktop-nav">
    <div class="menu-wrapper" ng-class="{ 'menu-wrapper-toggled': navToggled }">
        <button type="button" class="tcon tcon-menu--xbutterfly" ng-class="{ 'tcon-transform': navToggled }" aria-label="toggle menu" ng-click="toggleNav($event)">
          <span class="tcon-menu__lines" aria-hidden="true"></span>
          <span class="tcon-visuallyhidden">toggle menu</span>
        </button>
    </div>
    <nav class="nav-options" ng-class="{ 'nav-options-toggled': navToggled }">
        <div class="nav-item nav-home" ng-click="navigateTo('/'); closeNav()">
            <span class="glyphicon glyphicon-home"></span><h3 class="text-center">Home</h3>
        </div>
        <div class="nav-item nav-videos" ng-click="navigateTo('/videos'); closeNav()">
            <span class="glyphicon glyphicon-facetime-video"></span><h3 class="text-center">Videos</h3>
        </div>
        <div class="nav-item nav-pictures" ng-click="navigateTo('/pictures'); closeNav()">
            <span class="glyphicon glyphicon-picture"></span><h3 class="text-center">Pictures</h3>
        </div>
        <div class="nav-item nav-contact" ng-click="navigateTo('/contact'); closeNav()">
            <span class="glyphicon glyphicon-comment"></span><h3 class="text-center">Contact</h3>
        </div>
    </nav>
</div>