<div class="footer-wrap">
	<div class="social-media-container">
		<a class="twitter-logo-footer" href="https://twitter.com/LucidAerials" target="_blank"></a>
		<a class="facebook-logo-footer" href="https://www.facebook.com/LucidGaming" target="_blank"></a>
		<a class="instagram-logo-footer" href="https://instagram.com/sheaburnshimself/" target="_blank"></a>
    	<a class="youtube-logo-footer" href="https://www.youtube.com/channel/UCQbzkrvwwjTs33cOcVt4AKA/featured" target="_blank"></a>
	</div>
	<ul class="footer-nav">
		<li><a ng-href="#/">Home</a></li>
		<li><a ng-href="#/videos">Videos</a></li>
		<li><a ng-href="#/pictures">Pictures</a></li>
		<li><a ng-href="#/contact">Contact</a></li>
	</ul>
	<p class="copyright">&copy; SheaBurnsHimself 2015</p>
	<span class="scroll-to-top" scroll-to="footer" easing="easeInOutQuart">Scroll to top</span>
</div>