@import '_vars';

@media (max-width: 490px) {
    .desktop-nav {
        display: none;
    }
    .hamburger-wrap {
        display: none;
    }
    .mobile-nav {
        position: fixed;
        display: block;
        top: 0;
        height: auto;
        width: 100%;
        z-index: 3;
        transition: transform 0.2s ease;
    }
    .nav-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 55px;
        width: 100%;
        background-color: $dark-blue;
        box-shadow: $material-shadow;
        .mobile-logo-wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            outline: 0;
            margin-left: 10px;
            h3 {
                margin: 0 0 0 5px;
                display: inline-block;
                color: white;
                font-weight: 500;
                font-family: $sans;
            }
        }
    }
    .menu-wrapper {
        position: relative;
        outline: 0;
        width: 50px;
        height: 50px;
        padding: 10px;
        .menu-bar1, .menu-bar2, .menu-bar3 {
            width: 100%;
            border-top: 3px solid white;
            margin: 5px 0px 0px 0px;
            opacity: 1;
            transform: rotate(0deg) translate(0);
            transition: all 0.2s ease;
        }
    }
    .menu-wrapper-toggled {
        .menu-bar1 {
            position: relative;
            transform: rotate(-45deg) translate(-5px, 5px);
            transition: transform 0.2s ease-out;
        }
        .menu-bar2 {
            opacity: 0;
            transition: opacity 0.2s ease-out;
        }
        .menu-bar3 {
            position: relative;
            transform: rotate(45deg) translate(-6px, -6px);
            transition: transform 0.2s ease-out;
        }
    }
    .nav-options {
        display: flex;
        flex-flow: row wrap;
        max-height: 0px;
        color: white;
        overflow: hidden;
        background-color: $dark-blue;
        z-index: 3;
        transition: max-height 0.2s ease-out;
        .nav-home, .nav-videos, .nav-pictures, .nav-contact {
            display: flex;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            outline: 0;
            height: 48px;
            align-items: center;
            width: 100%;
            &:first-child {
                border-top: 1px solid rgba(255, 255, 255, 0.25);
            }
            &:last-child {
                box-shadow: $material-shadow;
            }
            .glyphicon {
                width: 23px;
                margin-left: 20px;
            }
            .nav-text {
                display: inline-block;
                margin-left: 15px;
                font-weight: 400;
                font-family: $sans;
                letter-spacing: .05em;
            }
        }
    }
    .nav-options-toggled {
        max-height: 200px;
        box-shadow: $material-shadow;
        transition: max-height 0.25s ease-out;
    }
    .footer-wrap {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
        order: 5000;
        align-items: baseline;
        background-color: $light-blue;
        color: white;
        .social-media-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            width: 100%;
            margin: 10px 20px;
            .facebook-logo-footer, .twitter-logo-footer, .instagram-logo-footer, .youtube-logo-footer {
                height: 64px;
                width: 64px;
                background-image: url('../images/social-media-25.png');
                margin: 5px;
                border-radius: 3px;
                box-shadow: $material-shadow;
            }
            .facebook-logo-footer {
                background-position: -80px -80px;
            }
            .twitter-logo-footer {
                background-position: -268px -80px;
            }
            .instagram-logo-footer {
                background-position: -80px -456px;
            }
            .youtube-logo-footer {
                background-position: -268px -456px;
            }
        }
        .copyright {
           margin: 20px;
        }
        .footer-nav {
            margin: 10px;
            & > li {
                display: inline;
                list-style: none;
                font-family: $sans;
                margin: 0 10px;
                a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        color: $light-blue;
                    }
                }
            }
        }
        .scroll-to-top {
            width: auto;
            margin: 10px 20px;
            font-family: $sans;
            &:hover {
                cursor: pointer;
                color: $light-blue;
            }
        }
        .copyright {
           width: auto;
            margin: 10px 20px;
        }
    }
}

lcd-social-media {
    display: flex;
    justify-content: center;
    background-color: $light-blue;
    z-index: 2;
    width: 100%;
    &:focus {
        outline: none;
    }
    .social-wrap {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        margin: 20px;
        width: 100vw;
        z-index: 1;
    }
    .facebook-logo-footer, .twitter-logo-footer, .instagram-logo-footer, .youtube-logo-footer {
        height: 45px;
        width: 45px;
        margin: 0 15px 0 15px;
        border-radius: 3px;
        box-shadow: $material-shadow;
    }
    .facebook-logo-footer {
        background-image: url('../images/facebook.png');
        background-size: contain;
    }
    .twitter-logo-footer {
        background-image: url('../images/twitter.png');
        background-size: contain;
    }
    .instagram-logo-footer {
        background-image: url('../images/instagram.png');
        background-size: contain;
    }
    .youtube-logo-footer {
        background-image: url('../images/youtube.png');
        background-size: contain;
    }
}

/* Large desktop */
@media (min-width: 491px) {
    lcd-social-media {
        .social-wrap {
            justify-content: space-between;
        }
    }
    .mobile-nav {
        display: none;
    }
    .hamburger-wrap {
        position: fixed;
        top: 0;
        left: 0;
        outline: 0;
        overflow: hidden;
        padding: 10px 0px 0px 20px;
        z-index: 100;
        transform: translateY(0px);
        transition: transform 0.2s ease-in-out;
    }
    .hamburger-wrap-open {
        transform: translateY(60px);
        transition: transform 0.2s ease-in-out;
    }
    .desktop-nav.nav-wrap {
        display: flex;
        flex-flow: row nowrap;
        position: fixed;
        top: -60px;
        height: 60px;
        width: 100%;
        overflow: hidden;
        z-index: 100;
        background: $dark-blue;
        transform: translateY(0);
        transition: transform 0.30s ease-out;
        .nav-home, .nav-videos, .nav-pictures, .nav-contact {
            display: flex;
            justify-content: center;
            align-items: center;
            outline: 0;
            height: 100%;
            width: 25%;
            .glyphicon {
                width: 25px;
                height: 25px;
                color: white;
            }
            h3 {
                color: white;
                font-family: $lora-font;
                font-weight: 400;
                margin: 0 0 0 15px;
            }
            &:hover {
                cursor: pointer;
                background: $dark-grey;
                background: rgba(66,66,66,.5);
            }
        }
    }
    .desktop-nav.nav-wrap-open {
        box-shadow: $material-shadow;
        transform: translateY(60px);
        transition: transform 0.25s ease-out;
    }
    .footer-wrap {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        order: 5000;
        justify-content: center;
        align-items: baseline;
        color: white;
        .footer-nav {
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            width: 100%;
            & > li {
                display: inline;
                list-style: none;
                font-family: $sans;
                margin: 10px 20px;
                a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        color: $dark-grey;
                        cursor: pointer;
                    }
                }
            }
        }
        .scroll-to-top {
            width: auto;
            font-family: $sans;
            margin: 10px 20px;
            &:hover {
                cursor: pointer;
                color: $dark-grey;
            }
        }
        .copyright {
            width: auto;
            font-family: $sans;
            margin: 10px 20px;
        }
    }
    footer {
        background-color: $light-blue;
        z-index: 1;
        width: 100%;
        padding: 20px;
        order: 5000;
    }
}

// @media (min-width: 768px) and (max-width: 1199px) {
//     .footer-wrap {
//         order: 5000;
//         .footer-nav {
//             width: auto;
//             & > li {
//                 display: inline;
//                 list-style: none;
//                 font-family: $sans;
//
//                 margin: 0 10px;
//                 a {
//                     color: white;
//                     text-decoration: none;
//                     &:hover {
//                         color: $light-blue;
//                     }
//                 }
//             }
//         }
//         .scroll-to-top {
//             width: auto;
//
//             margin: 20px;
//             font-family: $sans;
//             &:hover {
//                 cursor: pointer;
//                 color: $light-blue;
//             }
//         }
//         .copyright {
//             width: auto;
//
//             margin: 20px;
//         }
//     }
// }