@import url(http://fonts.googleapis.com/css?family=Lora:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
$light-blue: #607D8B; // rgb(96,125,139)
$dark-blue: #455A64; // rgb(69,90,100)
$white-background: #ECEFF1;
$material-shadow: 0 1px 3px rgba(0,0,0,0.7);
$black: rgba(40,40,40,1);
$roboto-font: 'Roboto', sans-serif;
$sans: 'Open Sans', sans-serif;
$lora-font: 'Lora', serif;
$dark-grey: #424242; // rgb(66,66,66)
$light-grey: #616161; // rgb(97,97,97)
$logo-grey: #747474; // 116,116,116
$text-shadow: 3px 3px 0 $dark-grey,
     -1px -1px 0 $dark-grey,
      1px -1px 0 $dark-grey,
      -1px 1px 0 $dark-grey,
       1px 1px 0 $dark-grey;
$outline-shadow: -1px -1px 0 $light-grey,
	1px -1px 0 $light-grey,
	-1px 1px 0 $light-grey,
	1px 1px 0 $light-grey;

// Transformicons
$tcon-size: 48px !default;
$tcon-transition: .2s !default;
$tcon-jstransform: 'tcon-transform' !default;

$tcon-menu-radius: ($tcon-size / 14) !default;
$tcon-menu-color: $dark-blue !default;
$tcon-menu-arrowleft-transformation: (
  transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 90deg)
) !default;
$tcon-menu-arrow360left-transformation: (
  transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 360deg)
) !default;

$tcon-svgchevron-size: $tcon-size !default;
$tcon-svgchevron-color: black !default;
$tcon-svgchevron-strokew: 1px !default;
$tcon-svgchevron-timing: 3s !default;

$spinner_speed: .675s !default;
$spinner_radius: 80% !default;
$spinner_fill_radius: 90px !default;

$spinner_size: 40px !default;
$spinner_thickness: 10px !default;
$spinner_inner_circle: $spinner_size - $spinner_thickness !default;

$spinner_color: black !default;
$spinner_bg: lightgray !default;
$spinner_inner_bg: white !default;