@import 'vars';

@media (max-width: 490px) {
    .video-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        background-color: $dark-grey;
        height: auto;
        overflow: hidden;
    }
    .video-repeat {
        display: flex;
        flex-flow: column;
        position: relative;
        align-content: space-around;
        width: 100%;
        overflow: hidden;
        height: 375px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: $material-shadow;
        order: 0;
        margin: 0px 0px 15px 0px;
        .video-title {
            color: white;
            text-align: center;
            margin: 20px 10px 0 10px;
            font-size: 1.5em;
            z-index: 1;
            opacity: 1;
            width: 100%;
            font-family: $sans;
            text-shadow: $outline-shadow;
        }
        .video-description {
            display: none;
            opacity: 1;
        }
        .text-wrap {
            width: 100%;
            transform: scale(1);
            opacity: 1;
            z-index: 5;
            border-radius: 0;
        }
        .play-button {
            display: block !important;
            opacity: 1 !important;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            color: $light-blue;
            font-size: 4em;
            transition: opacity 0.5s ease-out;
            &:hover {
                color: $light-grey;
            }
        }
        .video {
            display: none;
        }
        .countdown-timer {
            display: none;
        }
        .gradient {
            opacity: .35;
            background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
            height: 100%;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }
    .video-wrapper {
        .expanded {
            height: 80vh;
            .text-wrap {
                width: 30%;
            }
            .video-title {
                font-size: 2.00em;
                display: inline-block;
                color: white;
                position: absolute;
                top: 100px;
                left: 50%;
                transform: translate(-50%, -50%);
                text-shadow: $outline-shadow;
                font-family: $lora-font;
                opacity: 1;
            }
            .play-button {
                display: block !important;
                opacity: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                color: $light-blue;
                font-size: 5em;
                transition: opacity 0.5s ease-out;
                &:hover {
                    color: $light-grey;
                }
            }
            .video {
                display: block;
                max-width: 100%;
                width: 70%;
                opacity: 0;
                transition: opacity 0.3s ease-out;
                transition-delay: 0.3s;
            }
        }
    }
    .subscribe {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 500;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-weight: 400;
        color: white;
        background-color: $light-blue;
        height: 40px;
        box-shadow: $material-shadow;
        padding: 10px;
        p {
            font-family: $sans;
            margin: 5px;
            font-size: 1.2em;
            font-weight: 500;
            color: white;
        }
        &.subscribe-removed {
            display: none;
        }
    }
    .pag-wrap {
        order: 500;
        width: 100%;
        display: flex;
        justify-content: center;
        .pagination {
            margin: 10px 20px;
        }
        ul {
            box-shadow: $material-shadow;
        }
        li > a {
            background-color: $light-blue;
            border: 0;
            color: white;
            outline: 0;
            font-size: 1.2em;
            font-family: $sans;
            padding: 7px 12px;
            &:hover {
                background-color: $dark-blue;
                color: white;
            }
        }
        li.disabled > a {
            background-color: $dark-grey;
            &:hover {
                background-color: $dark-grey;
            }
            &:active {
                background-color: $dark-grey;
            }
            &:focus {
                background-color: $dark-grey;
            }
        }
        li.active > a {
            background-color: $dark-blue;
            &:hover {
                background-color: $dark-blue;
            }
            &:active {
                background-color: $dark-blue;
            }
            &:focus {
                background-color: $dark-blue;
            }
        }
    }
    .extra-margin {
        margin-bottom: 50px;
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 491px) and (max-width: 767px) {
    .video-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        background-color: $dark-grey;
        height: auto;
        overflow: hidden;
    }
    .video-repeat {
        display: flex;
        flex-flow: column;
        position: relative;
        align-content: space-around;
        width: 100%;
        overflow: hidden;
        height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: $material-shadow;
        order: 0;
        margin: 0px 0px 15px 0px;
        .video-title {
            color: white;
            text-align: center;
            margin-top: 20px;
            font-size: 2em;
            z-index: 1;
            opacity: 1;
            width: 100%;
            font-family: $sans;
            text-shadow: $outline-shadow;
        }
        .video-description {
            display: none;
            opacity: 1;
        }
        .text-wrap {
            width: 100%;
            transform: scale(1);
            opacity: 1;
            z-index: 5;
            border-radius: 0;
        }
        .play-button {
            display: block !important;
            opacity: 1 !important;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            color: $light-blue;
            font-size: 4em;
            transition: opacity 0.5s ease-out;
            &:hover {
                color: $light-grey;
            }
        }
        .video {
            display: none;
        }
        .countdown-timer {
            display: none;
        }
        .gradient {
            opacity: .35;
            background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
            height: 100%;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }
    .video-wrapper {
        .expanded {
            height: 80vh;
            .video-title {
                font-size: 2.25em;
                display: inline-block;
                color: white;
                max-width: 75%;
                position: absolute;
                top: 100px;
                left: 50%;
                transform: translate(-50%, -50%);
                text-shadow: $outline-shadow;
                font-family: $lora-font;
                opacity: 1;
            }
            .play-button {
                display: block !important;
                opacity: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                color: $light-blue;
                font-size: 5em;
                transition: opacity 0.5s ease-out;
                &:hover {
                    color: $light-grey;
                }
            }
            .video {
                display: block;
                position: absolute;
                top: 24%;
                left: 2.5%;
                max-width: 100%;
                min-height: 70%;
                width: 95%;
                opacity: 0;
                transition: opacity 0.3s ease-out;
                transition-delay: 0.3s;
            }
        }
    }
    .subscribe {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 500;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-weight: 400;
        color: white;
        background-color: $light-blue;
        height: 40px;
        box-shadow: $material-shadow;
        padding: 10px;
        p {
            font-family: $sans;
            margin: 5px;
            font-size: 1.2em;
            font-weight: 500;
            color: white;
        }
        &.subscribe-removed {
            display: none;
        }
    }
    .pag-wrap {
        order: 500;
        width: 100%;
        display: flex;
        justify-content: center;
        .pagination {
            margin: 10px 20px;
        }
        ul {
            box-shadow: $material-shadow;
        }
        li > a {
            background-color: $light-blue;
            border: 0;
            color: white;
            outline: 0;
            font-size: 1.2em;
            font-family: $sans;
            padding: 7px 12px;
            &:hover {
                background-color: $dark-blue;
                color: white;
            }
        }
        li.disabled > a {
            background-color: $dark-grey;
            &:hover {
                background-color: $dark-grey;
            }
            &:active {
                background-color: $dark-grey;
            }
            &:focus {
                background-color: $dark-grey;
            }
        }
        li.active > a {
            background-color: $dark-blue;
            &:hover {
                background-color: $dark-blue;
            }
            &:active {
                background-color: $dark-blue;
            }
            &:focus {
                background-color: $dark-blue;
            }
        }
    }
    .extra-margin {
        margin-bottom: 50px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
   .video-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        background-color: $dark-grey;
        height: auto;
        overflow: hidden;
    }
    .video-repeat {
        display: flex;
        flex-flow: row wrap;
        align-content: space-around;
        position: relative;
        width: calc(50% - 14px);
        overflow: hidden;
        height: 350px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: $material-shadow;
        order: 2;
        margin: 7px;
        border-radius: 3px;
        &:hover {
            cursor: pointer;
        }
    }
    .video-title {
        color: white;
        text-align: center;
        margin-top: 20px;
        padding: 0 10px;
        font-size: 1.4em;
        z-index: 1;
        opacity: 1;
        width: 100%;
        font-family: $sans;
    }
    .video-description {
        display: block;
        padding: 10px 20px;
        border-top: 2px solid $light-blue;
        color: white;
        font-weight: 400;
        font-family: $sans;
    }
    .text-wrap {
        background-color: rgba(66,66,66,.75);
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 100%;
        z-index: 1;
        opacity: 1;
        border-radius: 0;
        transform: scale(1);
        transition: all .2s ease-in-out;

    }
    .play-button {
        display: none !important;
    }
    .video {
        display: none;
    }
    .countdown-timer {
        display: none;
    }
    .gradient {
        opacity: .3;
        background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .video-wrapper {
        .expanded {
            height: 90vh;
            width: 100%;
            margin: 0 0 10px 0;
            order: 0;
            &:hover {
                cursor: default;
            }
            .video-title {
                font-size: 3.5em;
                display: inline-block;
                color: white;
                max-width: 75%;
                position: absolute;
                top: 100px;
                left: 50%;
                transform: translate(-50%, -50%);
                text-shadow:
                    -1px -1px 0 $light-grey,
                    1px -1px 0 $light-grey,
                    -1px 1px 0 $light-grey,
                    1px 1px 0 $light-grey;
                font-family: $lora-font;
                opacity: 1;
            }
            .text-wrap {
                background: none;
                height: 100%;
                transform: scale(1);
                opacity: 1;
            }
            .video-description {
                display: none;
            }
            .play-button {
                display: block !important;
                opacity: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                color: $light-blue;
                font-size: 6em;
                transition: opacity 0.5s ease-out;
                &:hover {
                    color: $light-grey;
                }
            }
            .video {
                display: block;
                position: absolute;
                top: 25%;
                left: 12.5%;
                max-width: 100%;
                min-height: 70%;
                width: 75%;
                opacity: 0;
                transition: opacity 0.3s ease-out;
                transition-delay: 0.3s;
            }
            .gradient {
                z-index: -1;
                opacity: 0;
                background: radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,1));
                height: 100%;
                width: calc(100% + 10px);
                transition: opacity 0.3s ease-out;
            }
            .countdown-timer {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                width: 93%;
                margin: 20px auto;
                background-color: black;
                z-index: 5;
            }
        }
    }
    .subscribe {
        z-index: 500;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        order: 1;
        width: 100%;
        background-color: $dark-grey;
        height: 50px;
        box-shadow: $material-shadow;
        border-top: 2px solid $light-blue;
        border-bottom: 2px solid $light-blue;
        padding: 20px;
        .glyphicon-remove-circle {
            color: $light-blue;
            font-size: 1.5em;
        }
        p {
            font-family: $sans;
            margin: 5px;
            font-size: 1.5em;
            font-weight: 600;
            color: $light-blue;
        }
        &.subscribe-removed {
            display: none;
        }
    }
    .pag-wrap {
        order: 500;
        width: 100%;
        display: flex;
        justify-content: center;
        .pagination {
            margin: 10px 20px;
        }
        ul {
            box-shadow: $material-shadow;
        }
        li > a {
            background-color: $light-blue;
            border: 0;
            color: white;
            outline: 0;
            font-size: 1.4em;
            font-family: $sans;
            padding: 10px 20px;
            &:hover {
                background-color: $dark-blue;
                color: white;
            }
        }
        li.disabled > a {
            background-color: $dark-grey;
            &:hover {
                background-color: $dark-grey;
            }
            &:active {
                background-color: $dark-grey;
            }
            &:focus {
                background-color: $dark-grey;
            }
        }
        li.active > a {
            background-color: $dark-blue;
            &:hover {
                background-color: $dark-blue;
            }
            &:active {
                background-color: $dark-blue;
            }
            &:focus {
                background-color: $dark-blue;
            }
        }
    }
    .last-item {
        order: 5000;
    }
}
// 980
@media (min-width: 980px) and (max-width: 1199px) {
    .video-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        background-color: $dark-grey;
        height: auto;
        overflow: hidden;
    }
    .video-repeat {
        display: flex;
        flex-flow: row wrap;
        align-content: space-around;
        position: relative;
        width: calc(50% - 14px);
        overflow: hidden;
        height: 350px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: $material-shadow;
        order: 2;
        margin: 7px;
        border-radius: 3px;
        &:hover {
            cursor: pointer;
            .text-wrap {
                transform: scale(1);
                opacity: 1;
                border-radius: 0;
                .video-title, .video-description {
                    opacity: 1;
                }
            }
        }
    }
    .video-title {
        color: white;
        text-align: center;
        margin-top: 20px;
        padding: 0 10px;
        font-size: 1.4em;
        z-index: 1;
        opacity: 1;
        width: 100%;
        font-family: $sans;
    }
    .video-description {
        display: block;
        padding: 10px 20px;
        border-top: 2px solid $light-blue;
        color: white;
        font-weight: 400;
        font-family: $sans;
    }
    .text-wrap {
        background-color: rgba(66,66,66,.75);
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 100%;
        z-index: 1;
        opacity: 0;
        border-radius: 100%;
        transform: scale(0);
        transition: all .2s ease-in-out;
    }
    .play-button {
        display: none !important;
    }
    .video {
        display: none;
    }
    .countdown-timer {
        display: none;
    }
    .gradient {
        opacity: .3;
        background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .video-wrapper {
        .expanded {
            height: 90vh;
            width: 100%;
            margin: 0 0 10px 0;
            order: 0;
            &:hover {
                cursor: default;
            }
            .video-title {
                font-size: 3.5em;
                font-weight: 600;
                display: inline-block;
                color: $light-blue;
                max-width: 75%;
                position: absolute;
                top: 100px;
                left: 50%;
                transform: translate(-50%, -50%);
                // text-shadow:
                //     -1px -1px 0 white,
                //     1px -1px 0 white,
                //     -1px 1px 0 white,
                //     1px 1px 0 white;
                font-family: $lora-font;
                opacity: 1;
                line-height: 1.2em;
            }
            .text-wrap {
                background: none;
                height: 100%;
                transform: scale(1);
                opacity: 1;
            }
            .video-description {
                display: none;
            }
            .play-button {
                display: block !important;
                opacity: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                color: $light-blue;
                font-size: 6em;
                transition: opacity 0.5s ease-out;
                &:hover {
                    color: $light-grey;
                }
            }
            .video {
                display: block;
                position: absolute;
                top: 26%;
                left: 12.5%;
                max-width: 100%;
                min-height: 70%;
                width: 75%;
                opacity: 0;
                transition: opacity 0.3s ease-out;
                transition-delay: 0.3s;
            }
            .gradient {
                z-index: -1;
                opacity: 0;
                background: radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,1));
                height: 100%;
                width: calc(100% + 10px);
                transition: opacity 0.3s ease-out;
            }
            .countdown-timer {
                position: absolute;
                top: 26%;
                left: 12.5%;
                color: white;
                height: 70%;
                text-align: center;
                padding-top: 23%;
                width: 75%;
                background-color: black;
                z-index: 5;
            }
        }
    }
    .subscribe {
        z-index: 500;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        order: 1;
        width: 100%;
        background-color: $dark-grey;
        height: 50px;
        box-shadow: $material-shadow;
        border-top: 2px solid $light-blue;
        border-bottom: 2px solid $light-blue;
        padding: 20px;
        .glyphicon-remove-circle {
            color: $light-blue;
            font-size: 1.5em;
        }
        p {
            font-family: $sans;
            margin: 5px;
            font-size: 1.5em;
            font-weight: 600;
            color: $light-blue;
        }
        &.subscribe-removed {
            display: none;
        }
    }
    .pag-wrap {
        order: 500;
        width: 100%;
        display: flex;
        justify-content: center;
        .pagination {
            margin: 10px 20px;
        }
        ul {
            box-shadow: $material-shadow;
        }
        li > a {
            background-color: $light-blue;
            border: 0;
            color: white;
            outline: 0;
            font-size: 1.4em;
            font-family: $sans;
            padding: 10px 20px;
            &:hover {
                background-color: $dark-blue;
                color: white;
            }
        }
        li.disabled > a {
            background-color: $dark-grey;
            &:hover {
                background-color: $dark-grey;
            }
            &:active {
                background-color: $dark-grey;
            }
            &:focus {
                background-color: $dark-grey;
            }
        }
        li.active > a {
            background-color: $dark-blue;
            &:hover {
                background-color: $dark-blue;
            }
            &:active {
                background-color: $dark-blue;
            }
            &:focus {
                background-color: $dark-blue;
            }
        }
    }
    .last-item {
        order: 5000;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
    
}

.video-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: $dark-grey;
    height: auto;
    overflow: hidden;
}
.video-repeat {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    position: relative;
    width: calc(33% - 8px);
    overflow: hidden;
    height: 350px;
    box-shadow: $material-shadow;
    order: 2;
    margin: 7px;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
        .text-wrap {
            transform: scale(1);
            opacity: 1;
            border-radius: 0;
            .video-title, .video-description {
                opacity: 1;
            }
        }
    }
    &:focus {
        outline: none;
    }
}
.video-wrap {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.video-title {
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 0 10px;
    font-size: 1.6em;
    z-index: 1;
    opacity: 1;
    width: 100%;
    font-family: $sans;
}
.video-description {
    display: block;
    padding: 10px 20px;
    border-top: 2px solid $light-blue;
    color: white;
    font-weight: 400;
    font-family: $sans;
}
.text-wrap {
    width: 100%;
    bottom: 0;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    transition: all .2s ease-in-out;
}
.play-button {
    display: none !important;
}
.video {
    display: none;
    &:after {
        content: '';
        opacity: .3;
        background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}
.countdown-timer {
    display: none;
}
.video-wrapper {
    .expanded {
        height: 90vh;
        width: 100%;
        margin: 0 0 10px 0;
        order: 0;
        &:hover {
            cursor: default;
        }
        .video-title {
            font-size: 2.5em;
            display: inline-block;
            color: white;
            font-family: $lora-font;
            opacity: 1;
            margin-top: 50px;
        }
        .text-wrap {
            height: 100%;
            width: 30%;
            transform: scale(1);
            opacity: 1;
        }
        .play-button {
            display: block !important;
            opacity: 1;
            z-index: 2;
            color: $light-blue;
            font-size: 5em;
            transition: opacity 0.5s ease-out;
            &:hover {
                color: $light-grey;
            }
            &:focus {
                outline: none;
            }
        }
        .video-wrap {
            width: 70%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            &:after {
                z-index: -1;
                opacity: 0;
                background: radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,1));
                height: 100%;
                width: calc(100% + 10px);
                transition: opacity 0.3s ease-out;
            }
        }
        .video {
            display: none;
            width: 80%;
            height: 70%;
            opacity: 0;
            transition: opacity 0.3s ease-out;
            transition-delay: 0.3s;
        }
        .countdown-timer {
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: black;
            position: absolute;
            top: 200px;
            left: 17.5%;
            max-width: 100%;
            min-height: 70%;
            width: 65%;
            z-index: 5;
            .timer-title, .timer-seconds {
                padding: 5px;
                font-size: 1.5em;
            }
        }
    }
}
.subscribe {
    z-index: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    order: 1;
    width: 100%;
    background-color: $dark-grey;
    height: 50px;
    box-shadow: $material-shadow;
    border-top: 2px solid $light-blue;
    border-bottom: 2px solid $light-blue;
    padding: 20px;
    .glyphicon-remove-circle {
        color: $light-blue;
        font-size: 1.5em;
    }
    p {
        font-family: $sans;
        margin: 5px;
        font-size: 1.5em;
        font-weight: 600;
        color: $light-blue;
    }
    &.subscribe-removed {
        display: none;
    }
}
.pag-wrap {
    order: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    .pagination {
        margin: 10px 20px;
    }
    ul {
        box-shadow: $material-shadow;
    }
    li > a {
        background-color: $light-blue;
        border: 0;
        color: white;
        outline: 0;
        font-size: 1.4em;
        font-family: $sans;
        padding: 10px 20px;
        &:hover {
            background-color: $dark-blue;
            color: white;
        }
    }
    li.disabled > a {
        background-color: $dark-grey;
        &:hover {
            background-color: $dark-grey;
        }
        &:active {
            background-color: $dark-grey;
        }
        &:focus {
            background-color: $dark-grey;
        }
    }
    li.active > a {
        background-color: $dark-blue;
        &:hover {
            background-color: $dark-blue;
        }
        &:active {
            background-color: $dark-blue;
        }
        &:focus {
            background-color: $dark-blue;
        }
    }
}
.last-item {
    order: 5000;
}