@import '_vars';

@media (max-width: 490px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        position: fixed;
        display: block;
        top: 0;
        height: auto;
        width: 100%;
        z-index: 3;
        transition: transform 0.2s ease;
    }
    .nav-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 55px;
        width: 100%;
        background-color: $dark-blue;
        box-shadow: $material-shadow;
        .mobile-logo-wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            outline: 0;
            margin-left: 10px;
            h3 {
                margin: 0 0 0 5px;
                display: inline-block;
                color: white;
                font-weight: 400;
                font-family: $sans;
                font-size: 1.4em;
            }
        }
    }
    .menu-wrapper {
        position: relative;
        outline: 0;
        width: 50px;
        height: 50px;
        padding: 10px;
        .menu-bar1, .menu-bar2, .menu-bar3 {
            width: 100%;
            border-top: 3px solid white;
            margin: 5px 0px 0px 0px;
            opacity: 1;
            transform: rotate(0deg) translate(0);
            transition: all 0.2s ease;
        }
    }
    .menu-wrapper-toggled {
        .menu-bar1 {
            position: relative;
            transform: rotate(-45deg) translate(-5px, 5px);
            transition: transform 0.2s ease-out;
        }
        .menu-bar2 {
            opacity: 0;
            transition: opacity 0.2s ease-out;
        }
        .menu-bar3 {
            position: relative;
            transform: rotate(45deg) translate(-6px, -6px);
            transition: transform 0.2s ease-out;
        }
    }
    .nav-options {
        display: flex;
        flex-flow: row wrap;
        max-height: 0px;
        color: white;
        overflow: hidden;
        background-color: $dark-blue;
        z-index: 3;
        transition: max-height 0.2s ease-out;
        .nav-home, .nav-videos, .nav-pictures, .nav-contact {
            display: flex;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            outline: 0;
            height: 48px;
            align-items: center;
            width: 100%;
            &:first-child {
                border-top: 1px solid rgba(255, 255, 255, 0.25);
            }
            &:last-child {
                box-shadow: $material-shadow;
            }
            .glyphicon {
                font-size: 1.4em;
                width: 23px;
                margin-left: 20px;
            }
            .nav-text {
                display: inline-block;
                margin-left: 15px;
                font-weight: 400;
                font-family: $sans;
                font-size: 1.3em;
                letter-spacing: .05em;
            }
        }
    }
    .nav-options-toggled {
        max-height: 200px;
        transition: max-height 0.25s ease-out;
    }
    .footer-wrap {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
        order: 5000;
        align-items: baseline;
        background-color: $dark-grey;
        color: white;
        .social-media-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            width: 100%;
            margin: 10px 20px;
            .facebook-logo-footer, .twitter-logo-footer, .instagram-logo-footer, .youtube-logo-footer {
                height: 64px;
                width: 64px;
                background-image: url('../images/social-media-25.png');
                margin: 5px;
                border-radius: 3px;
                box-shadow: $material-shadow;
            }
            .facebook-logo-footer {
                background-position: -80px -80px;
            }
            .twitter-logo-footer {
                background-position: -268px -80px;
            }
            .instagram-logo-footer {
                background-position: -80px -456px;
            }
            .youtube-logo-footer {
                background-position: -268px -456px;
            }
        }
        .copyright {
           margin: 20px;
        }
        .footer-nav {
            margin: 20px;
            & > li {
                display: inline;
                list-style: none;
                font-family: $sans;
                font-size: 1.1em;
                margin: 0 10px;
                a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        color: $light-blue;
                    }
                }
            }
        }
        .scroll-to-top {
            width: auto;
            font-size: 1em;
            margin: 10px 20px;
            font-family: $sans;
            &:hover {
                cursor: pointer;
                color: $light-blue;
            }
        }
        .copyright {
           width: auto;
            font-size: 1em;
            margin: 10px 20px;
        }
    }
}

@media (min-width: 491px) {
    .mobile-nav {
        display: none;
    }
    .hamburger-wrap {
        position: fixed;
        top: 0;
        left: 0;
        outline: 0;
        overflow: hidden;
        padding: 10px 0px 0px 20px;
        z-index: 100;
        transform: translateY(0px);
        transition: transform 0.2s ease-in-out;
    }
    .hamburger-wrap-open {
        transform: translateY(60px);
        transition: transform 0.2s ease-in-out;
    }
    .desktop-nav.nav-wrap {
        display: flex;
        flex-flow: row nowrap;
        position: fixed;
        top: -60px;
        height: 60px;
        width: 100%;
        overflow: hidden;
        z-index: 100;
        background: $dark-blue;
        transform: translateY(0);
        transition: transform 0.30s ease-out;
        /*&:before {
            content: '';
            position: absolute;
            top: 0;
            height: 60px;
            width: 100%;
            z-index: 99;
            background-color: $dark-blue;
        }*/
        .nav-home, .nav-videos, .nav-pictures, .nav-contact {
            display: flex;
            justify-content: center;
            align-items: center;
            outline: 0;
            height: 100%;
            width: 25%;
            .glyphicon {
                font-size: 1.6em;
                width: 25px;
                height: 25px;
                color: white;
            }
            h3 {
                color: white;
                font-family: $lora-font;
                font-size: 1.6em;
                font-weight: 400;
                margin: 0 0 0 15px;
            }
            &:hover {
                cursor: pointer;
                background: $dark-grey;
                background: rgba(66,66,66,.5);
            }
        }
    }
    .desktop-nav.nav-wrap-open {
        box-shadow: $material-shadow;
        transform: translateY(60px);
        transition: transform 0.25s ease-out;
    }
    footer {
      width: 100%;
    }
    .footer-wrap {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        order: 5000;
        justify-content: center;
        align-items: baseline;
        background-color: $dark-grey;
        color: white;
        .footer-nav {
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            width: 100%;
            margin: 20px;
            & > li {
                display: inline;
                list-style: none;
                font-family: $sans;
                font-size: 1.15em;
                margin: 0 10px;
                a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        color: $light-blue;
                        cursor: pointer;
                    }
                }
            }
        }
        .scroll-to-top {
            width: auto;
            font-size: 1.1em;
            margin: 20px;
            font-family: $sans;
            &:hover {
                cursor: pointer;
                color: $light-blue;
            }
        }
        .copyright {
           width: auto;
            font-size: 1.1em;
            margin: 20px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .footer-wrap {
        order: 5000;
        .footer-nav {
            width: auto;
            & > li {
                display: inline;
                list-style: none;
                font-family: $sans;
                font-size: 1.2em;
                margin: 0 10px;
                a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        color: $light-blue;
                    }
                }
            }
        }
        .scroll-to-top {
            width: auto;
            font-size: 1.2em;
            margin: 20px;
            font-family: $sans;
            &:hover {
                cursor: pointer;
                color: $light-blue;
            }
        }
        .copyright {
            width: auto;
            font-size: 1.2em;
            margin: 20px;
        }
    }
}

.footer-wrap {
    order: 5000;
    background-color: $dark-grey;
}

lcd-social-media {
    display: flex;
    justify-content: center;
    box-shadow: $material-shadow;
    z-index: 2;
    width: 100%;
    .social-wrap {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        margin: 2.5em;
        width: 100vw;
        z-index: 1;
    }
    .facebook-logo-footer, .twitter-logo-footer, .instagram-logo-footer, .youtube-logo-footer {
        height: 64px;
        width: 64px;
        background-image: url('../images/social-media-25.png');
        margin: 0 20px 0 20px;
        border-radius: 3px;
        box-shadow: $material-shadow;
    }
    .facebook-logo-footer {
        background-position: -80px -80px;
    }
    .twitter-logo-footer {
        background-position: -268px -80px;
    }
    .instagram-logo-footer {
        background-position: -80px -456px;
    }
    .youtube-logo-footer {
        background-position: -268px -456px;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
    footer {
        box-shadow: $material-shadow;
        z-index: 1;
    }
    .footer-wrap {
        .footer-nav {
            width: auto;
            & > li {
                display: inline;
                list-style: none;
                font-family: $sans;
                font-size: 1.2em;
                margin: 0 10px;
                a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        color: $light-blue;
                    }
                }
            }
        }
        .scroll-to-top {
            width: auto;
            font-family: $sans;
            font-size: 1.2em;
            margin: 20px;
            &:hover {
                cursor: pointer;
                color: $light-blue;
            }
        }
        .copyright {
            width: auto;
            font-family: $sans;
            font-size: 1.2em;
            margin: 20px;
        }
    }
}
