@import 'vars';
@media (min-width: 500px) {
	.contact-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding-top: 55px;
		height: 100%;
		width: 100%;
		min-width: 100vw;
		min-height: 100vh;
		background-color: $light-blue;
		.twitter-wrap {
			padding-right: 50px;
			min-height: 730px;
			height: 85vh;
			align-self: center;
			max-width: 40%;
			min-width: 440px;
		}
		.contact-info {
			align-self: center;
			max-width: 40%;
			height: 85vh;
			p {
				color: white;
				font-weight: 400;
			}
			.me-and-z {
				height: 630px;
				border-radius: 3px;
			}
			a {
				color: $dark-grey;
			}
		}
		.contact-header {
			color: white;
			font-size: 28px;
			font-weight: 400;
			margin: 10px;
			line-height: 28px;
		}
	}
	.social-media-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
		padding: 50px 0 20px 0;
	}
}
@media (max-width: 800px) {
	.contact-container {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		padding-top: 55px;
		height: 100%;
		width: 100%;
		min-width: 100vw;
		min-height: 100vh;
		background-color: $light-blue;
		.twitter-wrap {
			order: 1;
			width: 80vw;
			max-width: 80vw;
			height: auto;
			align-self: center;
			padding: 0;
		}
		.twitter-timeline {
			height: 70vh !important;
			align-self: center;
		}
		.contact-info {
			order: 0;
			align-self: center;
			padding: 0;
			width: 80vw;
			height: auto;
			max-width: 80vw;
			margin-bottom: 50px;
			p {
				color: white;
				font-weight: 400;
			}
			.me-and-z {
				width: 90vw;
				height: auto;
				border-radius: 3px;
			}
			a {
				color: $dark-grey;
			}
		}
		.contact-header {
			color: white;
			font-size: 28px;
			font-weight: 400;
		}
	}
	.social-media-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
		padding: 50px 0 20px 0;
	}
}	
@media (max-width: 500px) {
	.contact-container {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		padding-top: 55px;
		height: 100%;
		width: 100%;
		min-width: 100vw;
		min-height: 100vh;
		background-color: $light-blue;
		.twitter-wrap {
			order: 1;
			width: 90vw;
			align-self: center;
		}
		.twitter-timeline {
			height: 70vh !important;
		}
		.contact-info {
			order: 0;
			align-self: center;
			p {
				color: white;
				font-weight: 400;
			}
			.me-and-z {
				width: 90vw;
				height: auto;
				border-radius: 3px;
			}
			a {
				color: $dark-grey;
			}
		}
		.contact-header {
			color: white;
			font-size: 28px;
			font-weight: 400;
		}
	}
	.social-media-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
		padding: 50px 0 20px 0;
	}
}