@import 'vars';

@media (max-width: 490px) {
	.contact-container {
		display: flex;
		flex-flow: column wrap;
		position: relative;
		top: 55px;
		background-color: $dark-grey;
		.twitter-wrap {
			order: 1;
			width: 90vw;
			align-self: center;
		}
		.twitter-timeline {
			height: 70vh !important;
		}
		.contact-info {
			order: 0;
			align-self: center;
			p {
				color: white;
				font-weight: 400;
				margin-bottom: 10px;
			}
			.me-and-z {
				width: 90vw;
				height: auto;
				border-radius: 3px;
			}
			a {
				color: $light-blue;
			}
		}
		hr {
			margin-top: 10px;
			border-top: 2px solid $light-blue;
		}
		.contact-header {
			color: white;
			font-family: $lora-font;
			font-size: 28px;
			font-weight: 400;
			margin: 20px 0 0;
		}
	}
}

/* Landscape phone to portrait tablet */
@media (min-width: 491px) and (max-width: 767px) {
	.contact-container {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		padding: 35px 20px 20px 20px;
		background-color: $dark-grey;
		.twitter-wrap {
			display: flex;
			flex-flow: column nowrap;
			order: 1;
			height: auto;
			width: 100%;
			padding: 0;
		}
		.twitter-timeline {
			width: 80vw !important;
			height: 65vh !important;
			align-self: center;
		}
		.contact-info {
			display: flex;
			flex-flow: column nowrap;
			order: 0;
			padding: 0;
			height: auto;
			width: 100%;
			margin-bottom: 10px;
			p {
				color: white;
				font-weight: 400;
			}
			.me-and-z {
				width: 70vw;
				height: auto;
				align-self: center;
				border-radius: 3px;
			}
			a {
				color: $light-blue;
			}
		}
		hr {
			margin-top: 10px;
			border-top: 2px solid $light-blue;
		}
		.contact-header {
			color: white;
			font-family: $lora-font;
			font-size: 28px;
			font-weight: 400;
			margin: 20px 0 0;
		}
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
		.contact-container {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			padding-top: 60px;
			height: 100%;
			width: 100%;
			background-color: $dark-grey;
			.twitter-wrap {
				padding-right: 50px;
				min-height: 730px;
				max-height: 85vh;
				align-self: center;
				max-width: 40%;
				min-width: 440px;
			}
			.contact-info {
				position: relative;
				min-width: 440px;
				max-width: 40%;
				max-height: 85vh;
				p {
					color: white;
					font-weight: 400;
				}
				.me-and-z {
					margin: 20px auto;
					height: 600px;
					border-radius: 3px;
				}
				a {
					color: $light-blue;
				}
			}
			hr {
				margin-top: 10px;
				border-top: 2px solid $light-blue;
			}
			.contact-header {
				color: white;
				font-family: $lora-font;
				font-size: 28px;
				font-weight: 400;
				margin: 20px 0 0;
			}
		}
		.last-item {
			order: 5000;
		}
}

/* Large desktop */
@media (min-width: 980px) {
		.contact-container {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			padding-top: 60px;
			height: 100%;
			width: 100%;
			background-color: $dark-grey;
			.twitter-wrap {
				padding-right: 50px;
				min-height: 730px;
				height: 85vh;
				align-self: center;
				max-width: 40%;
				min-width: 440px;
			}
			.contact-info {
				align-self: center;
				max-width: 40%;
				height: 85vh;
				p {
					color: white;
					font-weight: 400;
				}
				.me-and-z {
					height: 630px;
					border-radius: 3px;
				}
				a {
					color: $light-blue;
				}
			}
			hr {
				margin-top: 10px;
				border-top: 2px solid $light-blue;
			}
			.contact-header {
				color: white;
				font-family: $lora-font;
				font-size: 28px;
				font-weight: 400;
				margin: 20px 0 0;
			}
		}
		.last-item {
			order: 5000;
		}
}
