@import 'vars';

// 1400
// Make text in about me smaller

// 1100
// Make text in about me smaller

// 980
// Make picture smaller
// Make text in about me bigger

// 768
// Make picture smaller
// Make text bigger, larger margin


@media (max-width: 490px) {
    .home-wrapper {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        top: 55px;
        background-color: $dark-grey;
        .home-video-wrapper {
            video#bgvid {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                object-fit: fill;
                overflow: hidden;
                opacity: .7;
                z-index: 0;
                width: 100%;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                opacity: 1;
                width: 100%;
                transition: opacity .5s ease-out;
            }
            .site-title {
                color: $light-blue;
                text-shadow: $outline-shadow;
                font-family: $lora-font;
                margin: 0px 20px;
                opacity: 1;
                font-weight: 500;
                font-size: 2.4em;
            }
            .site-sub-heading {
                color: white;
                font-size: 1.1em;
                text-align: center;
                font-family: $lora-font;
                font-weight: 400;
                margin: 0 20px 20px 20px;
            }
            .logo {
                height: 100px;
                width: 100px;
                margin: 20px;
            }
            .b-play-video {
                margin: 10px 20px;
                padding: 7px 12px;
                border-radius: 3px;
                background: $light-blue;
                color: white;
                border: none;
                opacity: 1;
                outline: 0;
                box-shadow: $material-shadow;
                transition: opacity 0.5s ease-out;
            }
            .scroll-arrow {
                display: none;
            }
        }
        .bio-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            width: 90%;
            h2 {
                color: $light-blue;
                text-shadow: $outline-shadow;
                font-family: $lora-font;
                font-weight: 500;
                margin: 0 20px;
                font-size: 2.5em;
            }
            h3 {
                color: white;
                font-size: 1.5em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 10px 20px;
            }
            .selfie {
                width: 90%;
                height: 300px;
                margin: 20px;
                border-radius: 3px;
            }
            hr {
                width: 100%;
                border: 2px solid $light-blue;
                margin: 10px;
            }
            hr.thin {
                border: 1px solid $light-blue;
            }
            .bio-text {
                margin: 0 20px 20px;
                color: white;
                font-family: $sans;
                font-weight: 300;
                font-size: 1em;
                letter-spacing: .01em;
            }
        }
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 491px) and (max-width: 767px) {
    .home-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: $dark-grey;
        .home-video-wrapper {
            video#bgvid {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                object-fit: fill;
                overflow: hidden;
                opacity: .7;
                z-index: 0;
                width: 100%;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                opacity: 1;
                width: 100%;
                transition: opacity .5s ease-out;
            }
            .site-title {
                color: $light-blue;
                text-shadow: $outline-shadow;
                font-family: $lora-font;
                margin: 50px 20px 0 20px;
                opacity: 1;
                font-weight: 500;
                font-size: 3.5em;
            }
            .site-sub-heading {
                color: white;
                font-size: 1.25em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 0 20px 20px 20px;
            }
            .logo {
                height: 125px;
                width: 125px;
                margin: 25px;
            }
            .b-play-video {
                margin: 10px 20px;
                padding: 10px 20px;
                border-radius: 3px;
                background: $light-blue;
                color: white;
                border: none;
                opacity: 1;
                outline: 0;
                box-shadow: $material-shadow;
                transition: opacity 0.5s ease-out;
                &:hover {
                    background-color: $light-grey;
                }
            }
            .scroll-arrow {
                display: none;
            }
        }
        .bio-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            width: 90%;
            h2 {
                color: $light-blue;
                text-shadow: $outline-shadow;
                font-family: $lora-font;
                font-weight: 500;
                margin: 0 20px;
                font-size: 3em;
            }
            h3 {
                color: white;
                font-size: 1.7em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 10px 20px;
            }
            .selfie {
                width: 87%;
                height: 380px;
                margin: 20px;
                border-radius: 3px;
            }
            hr {
                width: 100%;
                border: 2px solid $light-blue;
                margin: 10px;
            }
            hr.thin {
                border: 1px solid $light-blue;
            }
            .bio-text {
                width: 100%;
                max-width: 620px;
                margin: 0 20px 20px;
                color: white;
                font-family: $sans;
                font-weight: 300;
                font-size: 1.1em;
                letter-spacing: .01em;
            }
        }
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .home-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: $dark-grey;
        .home-video-wrapper {
            video#bgvid {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                object-fit: fill;
                overflow: hidden;
                opacity: .7;
                z-index: 0;
                width: 100%;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                opacity: 1;
                width: 100%;
                transition: opacity .5s ease-out;
            }
            .site-title {
                color: $light-blue;
                text-shadow: $outline-shadow;
                font-family: $lora-font;
                margin: 0px 20px;
                font-weight: 500;
                opacity: 1;
                font-size: 4.2em;
            }
            .site-sub-heading {
                color: white;
                font-size: 1.75em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 0 20px 30px 20px;
            }
            .logo {
                height: 170px;
                width: 170px;
                margin: 40px;
            }
            .b-play-video {
                margin: 10px 20px;
                padding: 10px 20px;
                border-radius: 3px;
                background: $light-blue;
                color: white;
                font-size: 1.1em;
                border: none;
                opacity: 1;
                outline: 0;
                box-shadow: $material-shadow;
                transition: opacity 0.5s ease-out;
                &:hover {
                    background-color: $light-grey;
                }
            }
            .scroll-arrow {
                display: none;
            }
        }
        .bio-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            width: 80%;
            h2 {
                color: $light-blue;
                text-shadow: $outline-shadow;
                font-family: $lora-font;
                font-weight: 500;
                margin: 0 20px;
                font-size: 3.5em;
            }
            h3 {
                color: white;
                font-size: 2em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 10px 20px;
            }
            .selfie {
                width: 85%;
                height: 450px;
                margin: 20px;
                border-radius: 3px;
            }
            hr {
                width: 100%;
                border: 2px solid $light-blue;
                margin: 10px;
            }
            hr.thin {
                border: 1px solid $light-blue;
            }
            .bio-text {
                width: 100%;
                max-width: 750px;
                margin: 0 20px 20px;
                color: white;
                font-family: $sans;
                font-weight: 300;
                font-size: 1.2em;
                letter-spacing: .01em;
            }
        }
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .home-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: $dark-grey;
        .home-video-wrapper {
            video#bgvid {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                object-fit: fill;
                overflow: hidden;
                opacity: .7;
                z-index: 0;
                width: 100%;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                opacity: 1;
                width: 100%;
                transition: opacity .5s ease-out;
            }
            .site-title {
                color: $light-blue;
                text-shadow:
                    -1px -1px 0 $light-grey,
                    1px -1px 0 $light-grey,
                    -1px 1px 0 $light-grey,
                    1px 1px 0 $light-grey;
                font-family: $lora-font;
                font-weight: 500;
                margin: 0px 20px;
                opacity: 1;
                font-size: 4.4em;
            }
            .site-sub-heading {
                color: white;
                font-size: 2em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 0 20px 30px 20px;
            }
            .logo {
                height: 170px;
                width: 170px;
                margin: 40px;
            }
            .b-play-video {
                margin: 10px 20px;
                padding: 12px 25px;
                border-radius: 3px;
                background: $light-blue;
                color: white;
                font-size: 1.1em;
                border: none;
                opacity: 1;
                outline: 0;
                box-shadow: $material-shadow;
                transition: opacity 0.5s ease-out;
                &:hover {
                    background-color: $light-grey;
                }
            }
            .scroll-arrow {
                display: none;
            }
        }
        .bio-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            width: 80%;
            h2 {
                color: $light-blue;
                text-shadow:
                    -1px -1px 0 $light-grey,
                    1px -1px 0 $light-grey,
                    -1px 1px 0 $light-grey,
                    1px 1px 0 $light-grey;
                font-family: $lora-font;
                font-weight: 500;
                margin: 0 20px;
                font-size: 3.5em;
            }
            h3 {
                color: white;
                font-size: 2em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 10px 20px;
            }
            .selfie {
                width: 85%;
                height: 500px;
                margin: 20px;
                border-radius: 3px;
            }
            hr {
                width: 100%;
                border: 2px solid $light-blue;
                margin: 10px;
            }
            hr.thin {
                border: 1px solid $light-blue;
            }
            .bio-text {
                width: 100%;
                max-width: 850px;
                margin: 0 20px 20px;
                color: white;
                font-family: $sans;
                font-weight: 300;
                font-size: 1.2em;
                letter-spacing: .01em;
            }
        }
    }
}

/* Large desktop */
@media (min-width: 1200px) {
    .home-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: $dark-grey;
        .home-video-wrapper {
            height: 100%;
            width: 100%;
            video#bgvid {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                object-fit: fill;
                overflow: hidden;
                opacity: .7;
                z-index: 0;
                width: 100%;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                opacity: 1;
                width: 100%;
                transition: opacity .5s ease-out;
            }
            .site-title {
                color: $light-blue;
                text-shadow:
                    -1px -1px 0 $light-grey,
                    1px -1px 0 $light-grey,
                    -1px 1px 0 $light-grey,
                    1px 1px 0 $light-grey;
                font-family: $lora-font;
                font-weight: 500;
                margin: 0px 20px;
                opacity: 1;
                font-size: 4.8em;
            }
            .site-sub-heading {
                color: white;
                font-size: 2em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 0 20px 30px 20px;
            }
            .logo {
                height: 175px;
                width: 175px;
                margin: 40px;
            }
            .b-play-video {
                margin: 10px 20px;
                padding: 12px 25px;
                border-radius: 3px;
                background: $light-blue;
                color: white;
                font-size: 1.1em;
                border: none;
                opacity: 1;
                outline: 0;
                box-shadow: $material-shadow;
                transition: opacity 0.5s ease-out;
                &:hover {
                    background-color: $light-grey;
                }
            }
            .scroll-arrow {
                display: none;
            }
        }
        .bio-wrapper {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: 100%;
            margin-top: 40px;
            width: 85%;
            h2 {
                color: $light-blue;
                text-shadow:
                    -1px -1px 0 $light-grey,
                    1px -1px 0 $light-grey,
                    -1px 1px 0 $light-grey,
                    1px 1px 0 $light-grey;
                font-family: $lora-font;
                margin: 0 20px;
                font-size: 3.5em;
                font-weight: 500;
                margin: 0px 20px;
                text-align: center;
                width: 100%;
                opacity: 1;
            }
            h3 {
                color: white;
                text-align: center;
                width: 100%;
                font-size: 2em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 10px 20px;
            }
            .selfie {
                width: 50%;
                height: 500px;
                padding: 20px;
                border-radius: 3px;
            }
            hr {
                width: 100%;
                border: 2px solid $light-blue;
                margin: 10px;
            }
            hr.thin {
                border: 1px solid $light-blue;
            }
            .bio-text {
                width: 50%;
                max-width: 800px;
                padding: 20px;
                color: white;
                font-family: $sans;
                font-weight: 300;
                font-size: 1.2em;
                letter-spacing: .05em;
            }
        }
    }
}

@keyframes font-pulse {
    0%, 100% {
        font-size: 1.4em;
    }
    50% {
        font-size: 1.6em;
    }
}