@import 'vars';

// 1400
// Make text in about me smaller

// 1100
// Make text in about me smaller

// 980
// Make picture smaller
// Make text in about me bigger

// 768
// Make picture smaller
// Make text bigger, larger margin


@media (max-width: 490px) {
    .home-wrapper {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        top: 55px;
        background-color: $dark-grey;
        .home-video-wrapper {
            video#bgvid {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                object-fit: fill;
                overflow: hidden;
                opacity: .7;
                z-index: 0;
                width: 100%;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                opacity: 1;
                width: 100%;
                transition: opacity .5s ease-out;
            }
            .site-title {
                color: $light-blue;
                text-shadow: $text-shadow;
                font-family: $lora-font;
                margin: 0px 20px;
                opacity: 1;
                font-size: 2.4em;
            }
            .logo {
                height: 100px;
                width: 100px;
                margin: 20px;
            }
            .b-play-video {
                margin: 10px 20px;
                padding: 7px 15px;
                border-radius: 3px;
                background: $light-blue;
                color: white;
                border: none;
                opacity: 1;
                outline: 0;
                box-shadow: $material-shadow;
                transition: opacity 0.5s ease-out;
            }
            .scroll-arrow {
                display: none;
            }
        }
        .bio-wrapper {
            .selfie {
                width: calc(100% - 40px);
                margin: 40px 20px 20px 20px;
                border-radius: 3px;
            }
            .bio-text {
                margin: 0 20px 20px 20px;
                color: white;
                font-weight: 400;
                font-size: 1.1em;
            }
        }
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 491px) and (max-width: 767px) {
    .home-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: $dark-grey;
        .home-video-wrapper {
            video#bgvid {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                object-fit: fill;
                overflow: hidden;
                opacity: .7;
                z-index: 0;
                width: 100%;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                opacity: 1;
                width: 100%;
                transition: opacity .5s ease-out;
            }
            .site-title {
                color: $light-blue;
                text-shadow: $text-shadow;
                font-family: $lora-font;
                margin: 0px 20px;
                opacity: 1;
                font-size: 3em;
            }
            .logo {
                height: 150px;
                width: 150px;
                margin: 20px;
            }
            .b-play-video {
                margin: 10px 20px;
                padding: 10px 20px;
                border-radius: 3px;
                background: $light-blue;
                color: white;
                border: none;
                opacity: 1;
                outline: 0;
                box-shadow: $material-shadow;
                transition: opacity 0.5s ease-out;
                &:hover {
                    background-color: $light-grey;
                }
            }
            .scroll-arrow {
                display: none;
            }
        }
        .bio-wrapper {
            .selfie {
                width: calc(100% - 60px);
                margin: 40px 30px 20px 30px;
                border-radius: 3px;
            }
            .bio-text {
                margin: 0 30px 30px 30px;
                color: white;
                font-weight: 400;
                font-size: 1.1em;
            }
        }
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .home-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: $dark-grey;
        .home-video-wrapper {
            video#bgvid {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                object-fit: fill;
                overflow: hidden;
                opacity: .7;
                z-index: 0;
                width: 100%;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                opacity: 1;
                width: 100%;
                transition: opacity .5s ease-out;
            }
            .site-title {
                color: $light-blue;
                text-shadow: $text-shadow;
                font-family: $lora-font;
                margin: 0px 20px;
                opacity: 1;
                font-size: 4em;
            }
            .logo {
                height: 175px;
                width: 175px;
                margin: 20px;
            }
            .b-play-video {
                margin: 10px 20px;
                padding: 12px 25px;
                border-radius: 3px;
                background: $light-blue;
                color: white;
                font-size: 1.1em;
                border: none;
                opacity: 1;
                outline: 0;
                box-shadow: $material-shadow;
                transition: opacity 0.5s ease-out;
                &:hover {
                    background-color: $light-grey;
                }
            }
            .scroll-arrow {
                display: none;
            }
        }
        .bio-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            .selfie {
                width: calc(100% - 250px);
                height: 80%;
                margin: 0 125px 20px 125px;
                border-radius: 3px;
            }
            .bio-text {
                width: calc(100% - 250px);
                margin: 0 125px 20px 125px;
                color: white;
                font-weight: 400;
                font-size: 1.1em;
            }
        }
    }
}

@media (min-width: 980px)  and (max-width: 1199px) {
    .home-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: $dark-grey;
        .home-video-wrapper {
            video#bgvid {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                object-fit: fill;
                overflow: hidden;
                opacity: .7;
                z-index: 0;
                width: 100%;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                opacity: 1;
                width: 100%;
                transition: opacity .5s ease-out;
            }
            .site-title {
                color: $light-blue;
                text-shadow: $text-shadow;
                font-family: $lora-font;
                margin: 0px 20px;
                opacity: 1;
                font-size: 4.4em;
            }
            .logo {
                height: 185px;
                width: 185px;
                margin: 40px;
            }
            .b-play-video {
                margin: 10px 20px;
                padding: 12px 25px;
                border-radius: 3px;
                background: $light-blue;
                color: white;
                font-size: 1.1em;
                border: none;
                opacity: 1;
                outline: 0;
                box-shadow: $material-shadow;
                transition: opacity 0.5s ease-out;
                &:hover {
                    background-color: $light-grey;
                }
            }
            .scroll-arrow {
                display: none;
            }
        }
        .bio-wrapper {
            display: flex;
            flex-direction: row wrap;
            margin-top: 50px;
            .selfie {
                width: calc(50% - 75px);
                height: 80%;
                margin: 0 25px 50px 50px;
                border-radius: 3px;
            }
            .bio-text {
                width: calc(50% - 75px);
                margin: 0 50px 50px 25px;
                color: white;
                font-weight: 400;
                font-size: 1.1em;
            }
        }
    }
}

/* Large desktop */
@media (min-width: 1200px) {
    .home-wrapper {
        display: flex;
        flex-flow: column;
        background-color: $dark-grey;
        .home-video-wrapper {
            video#bgvid {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                object-fit: fill;
                overflow: hidden;
                opacity: .7;
                z-index: 0;
                width: 100%;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                opacity: 1;
                width: 100%;
                transition: opacity .5s ease-out;
            }
            .site-title {
                color: $light-blue;
                text-shadow: $text-shadow;
                font-family: $lora-font;
                margin: 0px 20px;
                opacity: 1;
                font-size: 4.4em;
            }
            .logo {
                height: 185px;
                width: 185px;
                margin: 40px;
            }
            .b-play-video {
                margin: 10px 20px;
                padding: 12px 25px;
                border-radius: 3px;
                background: $light-blue;
                color: white;
                font-size: 1.1em;
                border: none;
                opacity: 1;
                outline: 0;
                box-shadow: $material-shadow;
                transition: opacity 0.5s ease-out;
                &:hover {
                    background-color: $light-grey;
                }
            }
            .scroll-arrow {
                display: none;
            }
        }
        .bio-wrapper {
            display: flex;
            flex-direction: row wrap;
            justify-content: center;
            margin-top: 50px;
            .selfie {
                width: 40%;
                height: 80%;
                margin: 0 25px 50px 0;
                border-radius: 3px;
            }
            .bio-text {
                width: 40%;
                margin: 0 0 50px 25px;
                color: white;
                font-weight: 400;
                font-size: 1.2em;
            }
        }
    }
}

@keyframes font-pulse {
    0%, 100% {
        font-size: 1.4em;
    }
    50% {
        font-size: 1.6em;
    }
}
