@import 'vars';

// 1400
// Make text in about me smaller

// 1100
// Make text in about me smaller

// 980
// Make picture smaller
// Make text in about me bigger

// 768
// Make picture smaller
// Make text bigger, larger margin


/*@media (max-width: 490px) {
    .home-wrapper {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        top: 55px;
        background-color: $dark-grey;
        .home-video-wrapper {
            video#bgvid {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                object-fit: fill;
                overflow: hidden;
                opacity: .7;
                z-index: 0;
                width: 100%;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                opacity: 1;
                width: 100%;
                transition: opacity .5s ease-out;
            }
            .site-title {
                color: $light-blue;
                text-shadow: $outline-shadow;
                font-family: $lora-font;
                margin: 0px 20px;
                opacity: 1;
                font-weight: 500;
                font-size: 2.4em;
            }
            .site-sub-heading {
                color: white;
                font-size: 1.1em;
                text-align: center;
                font-family: $lora-font;
                font-weight: 400;
                margin: 0 20px 20px 20px;
            }
            .logo {
                height: 100px;
                width: 100px;
                margin: 20px;
            }
            .b-play-video {
                margin: 10px 20px;
                padding: 7px 12px;
                border-radius: 3px;
                background: $light-blue;
                color: white;
                border: none;
                opacity: 1;
                outline: 0;
                box-shadow: $material-shadow;
                transition: opacity 0.5s ease-out;
            }
            .scroll-arrow {
                display: none;
            }
        }
        .bio-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            width: 90%;
            h2 {
                color: $light-blue;
                text-shadow: $outline-shadow;
                font-family: $lora-font;
                font-weight: 500;
                margin: 0 20px;
                font-size: 2.5em;
            }
            h3 {
                color: white;
                font-size: 1.5em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 10px 20px;
            }
            .selfie {
                width: 90%;
                height: 300px;
                margin: 20px;
                border-radius: 3px;
            }
            hr {
                width: 100%;
                border: 2px solid $light-blue;
                margin: 10px;
            }
            hr.thin {
                border: 1px solid $light-blue;
            }
            .bio-text {
                margin: 0 20px 20px;
                color: white;
                font-family: $sans;
                font-weight: 300;
                font-size: 1em;
                letter-spacing: .01em;
            }
        }
    }
}*/

/* Landscape phone to portrait tablet */
/*@media (min-width: 491px) and (max-width: 767px) {
    .home-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: $dark-grey;
        .home-video-wrapper {
            video#bgvid {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                object-fit: fill;
                overflow: hidden;
                opacity: .7;
                z-index: 0;
                width: 100%;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                opacity: 1;
                width: 100%;
                transition: opacity .5s ease-out;
            }
            .site-title {
                color: $light-blue;
                text-shadow: $outline-shadow;
                font-family: $lora-font;
                margin: 50px 20px 0 20px;
                opacity: 1;
                font-weight: 500;
                font-size: 3.5em;
            }
            .site-sub-heading {
                color: white;
                font-size: 1.25em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 0 20px 20px 20px;
            }
            .logo {
                height: 125px;
                width: 125px;
                margin: 25px;
            }
            .b-play-video {
                margin: 10px 20px;
                padding: 10px 20px;
                border-radius: 3px;
                background: $light-blue;
                color: white;
                border: none;
                opacity: 1;
                outline: 0;
                box-shadow: $material-shadow;
                transition: opacity 0.5s ease-out;
                &:hover {
                    background-color: $light-grey;
                }
            }
            .scroll-arrow {
                display: none;
            }
        }
        .bio-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            width: 90%;
            h2 {
                color: $light-blue;
                text-shadow: $outline-shadow;
                font-family: $lora-font;
                font-weight: 500;
                margin: 0 20px;
                font-size: 3em;
            }
            h3 {
                color: white;
                font-size: 1.7em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 10px 20px;
            }
            .selfie {
                width: 87%;
                height: 380px;
                margin: 20px;
                border-radius: 3px;
            }
            hr {
                width: 100%;
                border: 2px solid $light-blue;
                margin: 10px;
            }
            hr.thin {
                border: 1px solid $light-blue;
            }
            .bio-text {
                width: 100%;
                max-width: 620px;
                margin: 0 20px 20px;
                color: white;
                font-family: $sans;
                font-weight: 300;
                font-size: 1.1em;
                letter-spacing: .01em;
            }
        }
    }
}*/

/* Portrait tablet to landscape and desktop */
/*@media (min-width: 768px) and (max-width: 979px) {
    .home-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: $dark-grey;
        .home-video-wrapper {
            video#bgvid {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                object-fit: fill;
                overflow: hidden;
                opacity: .7;
                z-index: 0;
                width: 100%;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                opacity: 1;
                width: 100%;
                transition: opacity .5s ease-out;
            }
            .site-title {
                color: $light-blue;
                text-shadow: $outline-shadow;
                font-family: $lora-font;
                margin: 0px 20px;
                font-weight: 500;
                opacity: 1;
                font-size: 4.2em;
            }
            .site-sub-heading {
                color: white;
                font-size: 1.75em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 0 20px 30px 20px;
            }
            .logo {
                height: 170px;
                width: 170px;
                margin: 40px;
            }
            .b-play-video {
                margin: 10px 20px;
                padding: 10px 20px;
                border-radius: 3px;
                background: $light-blue;
                color: white;
                font-size: 1.1em;
                border: none;
                opacity: 1;
                outline: 0;
                box-shadow: $material-shadow;
                transition: opacity 0.5s ease-out;
                &:hover {
                    background-color: $light-grey;
                }
            }
            .scroll-arrow {
                display: none;
            }
        }
        .bio-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            width: 80%;
            h2 {
                color: $light-blue;
                text-shadow: $outline-shadow;
                font-family: $lora-font;
                font-weight: 500;
                margin: 0 20px;
                font-size: 3.5em;
            }
            h3 {
                color: white;
                font-size: 2em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 10px 20px;
            }
            .selfie {
                width: 85%;
                height: 450px;
                margin: 20px;
                border-radius: 3px;
            }
            hr {
                width: 100%;
                border: 2px solid $light-blue;
                margin: 10px;
            }
            hr.thin {
                border: 1px solid $light-blue;
            }
            .bio-text {
                width: 100%;
                max-width: 750px;
                margin: 0 20px 20px;
                color: white;
                font-family: $sans;
                font-weight: 300;
                font-size: 1.2em;
                letter-spacing: .01em;
            }
        }
    }
}*/

/*@media (min-width: 980px) and (max-width: 1199px) {
    .home-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: $dark-grey;
        .home-video-wrapper {
            video#bgvid {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                object-fit: fill;
                overflow: hidden;
                opacity: .7;
                z-index: 0;
                width: 100%;
            }
            .video-overlay {
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                opacity: 1;
                width: 100%;
                transition: opacity .5s ease-out;
            }
            .site-title {
                color: $light-blue;
                text-shadow:
                    -1px -1px 0 $light-grey,
                    1px -1px 0 $light-grey,
                    -1px 1px 0 $light-grey,
                    1px 1px 0 $light-grey;
                font-family: $lora-font;
                font-weight: 500;
                margin: 0px 20px;
                opacity: 1;
                font-size: 4.4em;
            }
            .site-sub-heading {
                color: white;
                font-size: 2em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 0 20px 30px 20px;
            }
            .logo {
                height: 170px;
                width: 170px;
                margin: 40px;
            }
            .b-play-video {
                margin: 10px 20px;
                padding: 12px 25px;
                border-radius: 3px;
                background: $light-blue;
                color: white;
                font-size: 1.1em;
                border: none;
                opacity: 1;
                outline: 0;
                box-shadow: $material-shadow;
                transition: opacity 0.5s ease-out;
                &:hover {
                    background-color: $light-grey;
                }
            }
            .scroll-arrow {
                display: none;
            }
        }
        .bio-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            width: 80%;
            h2 {
                color: $light-blue;
                text-shadow:
                    -1px -1px 0 $light-grey,
                    1px -1px 0 $light-grey,
                    -1px 1px 0 $light-grey,
                    1px 1px 0 $light-grey;
                font-family: $lora-font;
                font-weight: 500;
                margin: 0 20px;
                font-size: 3.5em;
            }
            h3 {
                color: white;
                font-size: 2em;
                font-family: $lora-font;
                font-weight: 400;
                margin: 10px 20px;
            }
            .selfie {
                width: 85%;
                height: 500px;
                margin: 20px;
                border-radius: 3px;
            }
            hr {
                width: 100%;
                border: 2px solid $light-blue;
                margin: 10px;
            }
            hr.thin {
                border: 1px solid $light-blue;
            }
            .bio-text {
                width: 100%;
                max-width: 850px;
                margin: 0 20px 20px;
                color: white;
                font-family: $sans;
                font-weight: 300;
                font-size: 1.2em;
                letter-spacing: .01em;
            }
        }
    }
}*/

.home-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: $dark-grey;
    &:focus {
        outline: 0;
    }
    .home-video-wrapper {
        height: 100%;
        width: 100%;
        video#bgvid {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            object-fit: fill;
            overflow: hidden;
            opacity: .7;
            z-index: 0;
            width: 100%;
        }
        .video-overlay {
            position: absolute;
            top: 0;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-around;
            z-index: 2;
            box-shadow: $material-shadow;
            opacity: 1;
            width: 100%;
            transition: opacity .5s ease-out;
        }
        .site-title {
            color: $light-blue;
            font-family: $lora-font;
            font-weight: 600;
            margin: 1.25em .5em 0 .5em;
            opacity: 1;
            text-shadow: 1px 0 1px black;
        }
        .logo {
            height: 25%;
            margin: 1em;
        }
        .site-sub-heading {
            color: $light-blue;
            font-family: $lora-font;
            margin: 0 .5em .75em .5em;
            font-weight: 500;
            opacity: 1;
            text-shadow: 1px 0 1px black;
        }
        .b-play-video {
            position: relative;
            border-radius: 1px;
            color: rgba(0,0,0,.8);
            background: transparent;
            overflow: hidden;
            border: none;
            outline: none;
            box-shadow: 0 0 6px rgba(66,66,66,.6);
            transition: opacity 0.5s ease-out;
            margin: .5em;
            padding: .6em 1.2em;
            font-weight: 500;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
                background-color: rgba(116,116,116, .6);
                filter: blur(1px);
            }
            &:hover {
                &:before {
                    background: rgba(96,125,139,.6);
                }
            }
        }
        .scroll-arrow {
            position: relative;
            opacity: 1;
            color: $light-blue;
            animation: bounce 1.3s linear infinite;
            margin-top: 1em;
            font-size: 2.2em;
        }
    }
    .bio-wrapper {
        display: block;
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
        background-color: $light-blue;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            /*background: radial-gradient(farthest-side at 100% 40%, rgba(0,0,0,.2), rgba(0,0,0,.7));*/
            /*background: linear-gradient(to right, rgba(66,66,66,.7), rgba(66,66,66,.7) 40%, rgba(66,66,66,0));*/
            /*background: rgba(66,66,66,.8);*/
        }
        h2 {
            color: $dark-grey;
            font-family: $lora-font;
            font-weight: 600;
            margin-bottom: 2em;
        }
        h3 {
            color: white;
            font-family: $lora-font;
            font-weight: 400;
            margin-bottom: 2em;
        }
        hr {
            width: 83%;
            border-top: 2px solid $dark-grey;
        }
        .bio {
            position: relative;
            height: 100%;
            z-index: 2;
            width: 50%;
            background-color: $light-blue;
            padding: 2em 1.75em 2em 1.75em;
            border-top-right-radius: 50%;
            box-shadow: $material-shadow;
            border-bottom-right-radius: 50%;
        }
        .bio-text {
            width: auto;
            color: white;
            font-family: $sans;
            margin: 0;
            padding-right: 2em;
            letter-spacing: .05em;
            font-weight: 300;
        }
    }
    .selfie {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        opacity: .7;
    }
    &:before {
        z-index: 1;
    }
    .footer-wrap {
        box-shadow: $material-shadow;
    }
}

/* Small desktop */
@media (min-width: 1000px) {
    .home-wrapper {
        .bio-wrapper {
            h2 {
                margin: 0 0 .25em 0;
            }
            h3 {
                margin-top: 0;
                margin-bottom: .5em;
            }
        }
    }
}

/* Large desktop */
@media (min-width: 1400px) {
    .home-wrapper {
        .site-title {
            font-size: 4.5em;
        }
        .site-sub-heading {
            font-size: 2em;
        }
        .bio-wrapper {
            h2 {
                font-size: 3em;
            }
            h3 {
                font-size: 2em;
            }
        }
        .bio {
            width: 45%;
        }
        .selfie {
            right: -175px;
        }
    }
}

@keyframes font-pulse {
    0%, 100% {
        font-size: 1.4em;
    }
    50% {
        font-size: 1.6em;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
    30% {
        transform: translateY(-20px);
    }
    45% {
        transform: translateY(0);
    }
    52% {
        transform: translateY(-5px);
    }
    59% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}