$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import 'normalize.css';
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import 'vars';
@import 'home';
@import 'videos';
@import 'pictures';
@import 'contact';
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
img, embed, object, video {
    max-width: 100%;
}
p {
    font-size: 16px;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: white;
    overflow: scroll;
    margin: 0px;
    font-family: $roboto-font;
}
@media (min-width: 500px) {
    .mobile-nav {
        display: none;
    }
    .desktop-nav {
        position: fixed;
        top: 0px;
        display: block;
        height: auto;
        width: 100%;
        z-index: 3;
        transition: transform 0.2s ease;
        .menu-wrapper {
            height: 62px;
            width: 150px;
            overflow: hidden;
            transform: translateY(0px);
            transition: transform 0.2s ease-in-out;
            position: fixed;
            outline: 0;
            padding: 12px 0px 0px 20px;
            &:hover {
                cursor: pointer;
            }
            .menu-bar1, .menu-bar2, .menu-bar3 {
                width: 45px;
                border-top: 5px solid white;
                margin: 8px 0px 0px 0px;
                opacity: 1;
                transform: rotate(0deg) translate(0);
                transition: all 0.30s ease-out;
                box-shadow: $material-shadow;
            }
            .menu-title {
                position: absolute;
                top: 15px;
                right: 0px;
                font-size: 2.2em;
                color: white;
                margin: 0px;
                text-shadow: $text-shadow;
            }
        }
        .menu-wrapper-toggled {
            transform: translateY(73px);
            transition: transform 0.2s ease-in-out;
            .menu-bar1-toggled {
                position: relative;
                transform: rotate(-45deg) translate(-8px, 8px);
                transition: transform 0.25s ease-out;
            }
            .menu-bar2-toggled {
                opacity: 0;
                transition: opacity 0.25s ease-out;
            }
            .menu-bar3-toggled {
                position: relative;
                transform: rotate(45deg) translate(-10px, -10px);
                transition: transform 0.25s ease-out;
            }
        }
        .navbar-animate {
            height: 70px;
            overflow: hidden;
            transform: translateY(-85px);
            box-shadow: $material-shadow;
            transition: transform 0.30s ease-out;
            .nav-home, .nav-videos, .nav-pictures, .nav-contact {
                background-color: $light-blue;
                display: inline-block;
                outline: 0;
                height: 100%;
                margin-right: -3px;
                width: 25%;
                text-align: center;
                & h3 {
                    color: white;
                    font-size: 1.8em;
                    font-family: $roboto-font;
                    font-weight: 400;
                    margin-top: 23px;
                    margin-bottom: 23px;
                }
                &:hover {
                    cursor: pointer;
                    background: $dark-blue;
                }
                .nav-text {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    width: auto;
                    height: auto;
                    margin: 0px;
                }
            }
            .nav-home {
                margin-right: -4px;
            }
        }
        .navbar-animate-toggled {
            transform: translateY(0px);
            z-index: 3;
            transition: transform 0.25s ease-out;
        }
    }
}
@media (max-width: 500px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        position: fixed;
        top: 0px;
        display: block;
        height: auto;
        width: 100%;
        z-index: 3;
        transition: transform 0.2s ease;
        .nav-wrapper {
            height: 55px;
            overflow: hidden;
            transform: translateY(0px);
            background-color: $dark-blue;
            box-shadow: $material-shadow;
            transition: transform 0.2s ease-in-out;
            .mobile-logo-wrapper {
                height: 55px;
                width: auto;
                position: relative;
                display: inline-block;
                outline: 0;
                .mobile-site-title {
                    margin: 17px 0px 0px 20px;
                    color: white;
                }
            }
            .menu-wrapper {
                position: relative;
                display: inline-block;
                outline: 0;
                width: 50px;
                height: 50px;
                margin-right: 10px;
                top: 3px;
                padding: 10px;
                float: right;
                &:hover {
                    cursor: pointer;
                }
                .menu-bar1, .menu-bar2, .menu-bar3 {
                    width: 100%;
                    border-top: 3px solid white;
                    margin: 5px 0px 0px 0px;
                    opacity: 1;
                    transform: rotate(0deg) translate(0);
                    transition: all 0.30s ease-out;
                }
                .menu-bar1-toggled {
                    position: relative;
                    transform: rotate(-45deg) translate(-5px, 5px);
                    transition: transform 0.25s ease-out;
                }
                .menu-bar2-toggled {
                    opacity: 0;
                    transition: opacity 0.25s ease-out;
                }
                .menu-bar3-toggled {
                    position: relative;
                    transform: rotate(45deg) translate(-6px, -6px);
                    transition: transform 0.25s ease-out;
                }
            }
        }
        .navbar-animate {
            max-height: 0px;
            overflow: hidden;
            z-index: 3;
            transition: max-height 0.30s ease-out;
            .nav-home, .nav-videos, .nav-pictures, .nav-contact {
                color: white;
                background-color: $dark-blue;
                border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                outline: 0;
                height: 48px;
                line-height: 48px;
                text-align: center;
                &:hover {
                    cursor: pointer;
                    background: $light-blue;
                }
                &:last-child {
                    box-shadow: $material-shadow;
                }
                &:first-child {
                    border-top: 1px solid rgba(255, 255, 255, 0.25);
                }
                .nav-text {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    width: auto;
                    height: auto;
                    margin: 0px;
                }
            }
        }
        .navbar-animate-toggled {
            max-height: 200px;
            transition: max-height 0.25s ease-out;
        }
    }
}
