@import 'vars';
@media (min-width: 500px) {
    .picture-wrapper {
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
        text-align: center;
        background-color: $dark-blue;
        height: auto;
        overflow: hidden;
        cursor: default;
    }
    .picture-repeat {
        position: relative;
        order: 1;
        width: 32%;
        margin: 5px;
        overflow: hidden;
        height: 325px;
        background-size: cover;
        background-position: center;
        box-shadow: $material-shadow;
        &:hover {
            width: calc(32% + 10px);
            height: 330px;
            margin: 0px;
            transition: height .2s ease-in-out, width .2s ease-in-out, margin .2s ease-in-out;
        }
    }
    .picture-description {
        display: none;
    }
    .picture-wrapper {
        .cloned-image {
            // height defined in javascript
            width: 100%;
            margin: 0px 0px 10px 0px;
            transition: none;
            cursor: defualt;
            position: relative;
            &:hover {
                width: 100%;
                height: 900px;
                margin: 0px 0px 10px 0px;
                cursor: defualt;
            }
        }
    }
}
@media (max-width: 500px) {
    .pictures-wrapper {
        position: relative;
        top: 55px;
        height: 100%;
        width: 100%;
        .blue-background {
            background-color: $light-blue;
        }
        .main-picture-wrapper {
            position: relative;
            height: auto;
            width: 100%;
            opacity: 0.65;
            overflow: hidden;
            box-shadow: material-shadow;
            .main-picture {
                height: 100%;
                width: 100%;
                object-fit: fill;
            }
        }
        .picture-feed-wrapper {
            text-align: center;
            background-color: white;
            .picture-repeat {
                width: 100%;
                padding: 10px;
                margin: 10px 0px;
                background: $light-blue;
                box-shadow: $material-shadow;
                &:first-child {
                    margin-top: 0px;
                }
                .picture-description {
                    color: white;
                }
                .modal-dialog {
                    transform: rotate(90deg) translateX(20px);
                    height: auto;
                    width: auto;
                    margin: auto;
                    position: relative;
                    .modal-content {
                        overflow: hidden;
                        background-color: $dark-grey;
                        position: relative;
                        .modal-header {
                            border-bottom: 1px solid $light-blue;
                            padding: 0px;
                            height: 30px;
                            button.close {
                                margin-right: 10px;
                                color: $light-blue;
                                text-shadow: none;
                                opacity: 1;
                                font-size: 35px;
                            }
                        }
                        .modal-body {
                            height: calc(100% - 30px);
                            display: block;
                            width: 100%;
                            padding: 10px;
                            overflow: hidden;
                            position: relative;
                            .prevPicArrow, .nextPicArrow {
                                font-size: 28px;
                                margin: auto 10px;
                                color: $light-blue;
                                position: absolute;
                                height: 28px;
                                width: 28px;
                            }
                            .prevPicArrow {
                                left: 0px;
                                top: 0px;
                                bottom: 0px;
                            }
                            .nextPicArrow {
                                right: 0px;
                                top: 0px;
                                bottom: 0px;
                            }
                            .vis-hidden {
                                visibility: hidden;
                            }
                            img {
                                max-height: 100%;
                                max-width: 100%;
                                width: calc(100% - 90px);
                            }
                        }
                    }
                }
            }
        }
    }
}
