@import 'vars';
@media (max-width: 490px) {
  .picture-wrap {
    display: flex;
    position: relative;
    top: 55px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $dark-grey;
    overflow: hidden;
    cursor: default;
    .expanded {
      height: calc(100vh - 10px);
      width: calc(100vh - 20px);
      transform: rotate(90deg);
    }
  }
  .picture-repeat {
    position: relative;
    order: 1;
    margin: 5px;
    overflow: hidden;
    height: 325px;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: $material-shadow;
    border-radius: 3px;
    &:first-child {
      margin-top: 0;
    }
  }
  .picture-description {
    display: none;
  }
  .load-more {
    order: 500;
    width: 100%;
    .load-more-btn {
      margin: 10px 20px;
      padding: 10px 20px;
      border-radius: 3px;
      background: $light-blue;
      color: white;
      border: none;
      opacity: 1;
      outline: 0;
      font-size: 1.1em;
      box-shadow: $material-shadow;
      transition: opacity 0.5s ease-out;
      &:hover {
        background-color: $light-grey;
      }
    }
  }
  .last-item {
    order: 5000;
  }
}


/* Landscape phone to portrait tablet */

@media (min-width: 491px) and (max-width: 767px) {
  .picture-wrap {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    background-color: $dark-grey;
    height: auto;
    overflow: hidden;
    cursor: default;
  }
  .picture-repeat {
    position: relative;
    order: 1;
    width: calc(50% - 10px);
    margin: 5px;
    overflow: hidden;
    height: 320px;
    background-size: cover;
    background-position: center;
    box-shadow: $material-shadow;
    border-radius: 3px;
    background-size: contain;
  }
  .picture-description {
    display: none;
  }
  .picture-wrap {
    .cloned-image {
      // height defined in javascript
      width: 100%;
      margin: 0px 0px 10px 0px;
      transition: none;
      cursor: defualt;
      position: relative;
      &:hover {
        width: 100%;
        height: 900px;
        margin: 0px 0px 10px 0px;
        cursor: defualt;
      }
    }
  }
  .load-more {
    order: 500;
    width: 100%;
    .load-more-btn {
      margin: 10px 20px;
      padding: 10px 20px;
      border-radius: 3px;
      background: $light-blue;
      color: white;
      border: none;
      opacity: 1;
      outline: 0;
      font-size: 1.1em;
      box-shadow: $material-shadow;
      transition: opacity 0.5s ease-out;
      &:hover {
        background-color: $light-grey;
      }
    }
  }
  .last-item {
    order: 5000;
  }
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) {
  .picture-wrap {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    background-color: $dark-grey;
    height: auto;
    overflow: hidden;
    cursor: default;
  }
  .picture-repeat {
    position: relative;
    order: 1;
    width: calc(25vw - 45px);
    margin: 20px;
    height: auto;
    overflow: hidden;
    color: white;
    background-color: $dark-grey;
    box-shadow: $material-shadow;
    &:active {
      outline: none;
    }
    .picture {
      height: 22vw;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: black;
      // border: 2px solid $light-blue;
    }
    .photo-details {
      height: 40px;
      padding: 6px 12px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      background-color: $dark-grey;
      align-items: center;
      border: 2px solid $light-blue;
      border-width: 0 0 3px 0;
      .fa {
        color: red;
      }
    }
    .comments {
      height: auto;
      padding: 6px 12px;
      background-color: $dark-grey;
      text-align: left;
      text-overflow: ellipsis;
      // border: 2px solid $light-blue;
      .username {
        color: $light-blue;
        &:hover {
          text-decoration: none;
        }
      }
      .caption {
        height: auto;
        width: 100%;
        overflow: hidden;
      }
      .fa {
        color: $light-blue;
        font-size: 16px;
        margin: 0 auto;
      }
    }
  }
  .picture-description {
    display: none;
  }
  .insta-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.65);
    z-index: 100;
    animation: fade-in .2s linear;
    &.ng-leave {
      animation: fade-out .2s linear;
    }
    .modal-body {
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      background-color: $dark-grey;
      height: calc(100vh - 45px);
      max-height: 640px;
      width: calc(100vw - 45px);
      max-width: 1200px;
      box-shadow: $material-shadow;
    }
    .modal-close {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      padding: 5px;
      margin: 10px;
      font-size: 25px;
      &:focus {
        outline: none;
      }
      .fa-times {
        width: 35px;
      }
    }
    .modal-comments {
      height: 100%;
      width: 30%;
      background-color: $light-grey;
      .comment {
        color: white;
        padding: 60px 10px 10px 10px;
      }
    }
    .modal-image {
      position: relative;
      display: flex;
      align-items: center;
      width: 70%;
      height: 100%;
    }
    .image {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }
    .back-arrow, .next-arrow {
        position: absolute;
        padding: 10px;
        .fa {
            font-size: 25px;
            color: $light-blue;
        }
        &:hover {
            cursor: pointer;
        }
        &:active, &:focus {
            outline: none;
        }
    }
    .back-arrow {
        left: 0;
    }
    .next-arrow {
        right: 0;
    }
  }
  .last-item {
    order: 5000;
  }
}
