@import 'vars';
@media (min-width: 500px) {
    .video-wrapper {
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
        text-align: center;
        background-color: rgb(80, 80, 80);
        height: auto;
        overflow: hidden;
        cursor: default;
    }
    .video-repeat {
        position: relative;
        order: 1;
        width: 32%;
        margin: 5px;
        overflow: hidden;
        height: 325px;
        background-size: cover;
        background-position: center;
        box-shadow: $material-shadow;
        &:hover {
            width: calc(32% + 10px);
            cursor: pointer;
            height: 330px;
            margin: 0px;
            transition: height .2s ease-in-out, width .2s ease-in-out, margin .2s ease-in-out;
        }
    }
    .video-title {
        color: white;
        position: absolute;
        height: 50px;
        bottom: 12%;
        left: 50%;
        transform: translate(-50%, 0);
        width: calc(100% - 20px);
        opacity: 1;
        margin: 0px;
        font-weight: 400;
        font-size: 1.85em;
        z-index: 1;
        opacity: .9;
    }
    .play-button {
        display: none;
        cursor: pointer;
    }
    .video {
        display: none;
        opacity: 0;
    }
    .video-description {
        display: none;
    }
    .gradient {
        opacity: .95;
        background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
        height: 60%;
        width: calc(100% + 10px);
        position: absolute;
        bottom: 0px;
        left: -10px;
    }
    .video-wrapper {
        .expanded {
            order: 0;
            height: 800px;
            width: 100%;
            margin: 0px 0px 10px 0px;
            top: 0;
            left: 0;
            transition: none;
            &:hover {
                width: 100%;
                height: 800px;
                margin: 0px 0px 10px 0px;
                cursor: default;
            }
            .video-title {
                opacity: 1;
                top: 100px;
                left: 50%;
                font-size: 3em;
                color: white;
                font-family: $lora-font;
                z-index: 2;
            }
            .play-button {
                display: block;
                opacity: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                color: white;
                font-size: 4em;
                transition: opacity 0.5s ease-out;
            }
            .video {
                //min-width: 480px;
                display: block;
                position: relative;
                max-width: 100%;
                min-height: 200px;
                margin: 20px auto;
                top: 170px;
                width: 52%;
                height: 70%;
                opacity: 0;
                transition: opacity 0.3s ease-out;
                transition-delay: 0.3s;
            }
            .gradient {
                z-index: -1;
                opacity: 0;
                background: radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,1));
                height: 100%;
                width: calc(100% + 10px);
                transition: opacity 0.3s ease-out;
            }
        }
    }
}
@media (max-width: 500px) {
    .videos-wrapper {
        position: relative;
        top: 55px;
        height: 100%;
        width: 100%;
        .blue-background {
            background-color: $light-blue;
        }
        .video-wrapper {
            height: auto;
            width: auto;
            margin: 0px;
            padding: 0px;
            opacity: 0.70;
            text-align: center;
            .top-video-repeat0, .top-video-repeat1, .top-video-repeat2, .top-video-repeat3, {
                height: 110px;
                width: 100%;
                margin: 0px;
                padding: 0px;
                overflow: hidden;
                box-shadow: $material-shadow;
                border-bottom: 1px solid rgba(255, 255, 255, .5);
                &:first-child {
                    border-top: 1px solid rgba(255, 255, 255, .5);
                }
                .top-video-title {
                    color: white;
                    position: relative;
                    z-index: 1;
                    opacity: 1;
                    font-weight: normal;
                    font-size: 1.3em;
                    margin-top: 55px;
                    padding: 0px 10px 0px 10px;
                }
                .play-button {
                    display: none;
                }
                .video {
                    display: none;
                }
            }
            .expanded {
                height: auto;
                width: 100%;
                padding: 20px 0px 0px 0px;
                text-align: center;
                background-position: center;
                .top-video-title {
                    font-size: 1.75em;
                    color: white;
                    margin: 10px 20px 20px 20px;
                }
                .play-button {
                    display: block;
                    opacity: 1;
                    position: relative;
                    top: 75px;
                    z-index: 2;
                    color: white;
                    font-size: 4em;
                    transition: opacity 0.5s ease-out;
                }
                .video {
                    display: block;
                    //min-width: 480px;
                    max-width: 100%;
                    min-height: 200px;
                    width: 100%;
                    object-fit: contain;
                    opacity: 0;
                    background-color: black;
                    position: relative;
                    bottom: 50px;
                    transition: opacity 0.25s ease-out;
                    transition-delay: 0.25s;
                }
            }
        }
        .video-wrapper {
            .video-repeat {
                width: 100%;
                height: auto;
                padding: 10px;
                margin: 10px 0px;
                background: $light-blue;
                box-shadow: $material-shadow;
                .video-title {
                    color: white;
                    text-align: center;
                    font-size: 1.75em;
                }
                .video-description {
                    position: relative;
                    bottom: 15px;
                    color: white;
                    text-align: left;
                }
                .play-button {
                    display: block;
                    opacity: 1;
                    position: relative;
                    top: 90px;
                    z-index: 2;
                    color: white;
                    font-size: 4em;
                    transition: opacity 0.5s ease-out;
                }
                .placeholder-image {
                    position: relative;
                    height: 200px;
                    width: 100%;
                }
                .video {
                    height: 100%;
                    width: 100%;
                    //min-width: 480px;
                    max-width: 100%;
                    min-height: 200px;
                    width: 100%;
                    object-fit: contain;
                    background-color: black;
                    position: relative;
                    bottom: 50px;
                    transition: opacity 0.25s ease-out;
                    transition-delay: 0.25s;
                }
            }
        }
    }
}
