<div class="contact-container" id="footer">
	<div class="twitter-wrap">
        <h3 class="contact-header">Shea Burns on Twitter</h3>
        <hr />
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/LucidAerials" data-widget-id="638019949932486657">Tweets by @LucidAerials</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
    <div class="contact-info">
        <h3 class="contact-header">Business Inquiries</h3>
        <hr/>
        <p>For business inquiries, contact Shea Burns<br />
           <a href="mailto:lucidaerials@gmail.com?Subject=Lucid%20Aerials">lucidaerials@gmail.com</a>
        </p>
        <img class="me-and-z" src="../images/me-and-z.jpg" alt="Shea Burns">
    </div>
    <footer class="last-item"></footer>
</div>