<div class="home-wrapper">
    <div fade-out class="video-overlay">
        <h2 class="site-title">Welcome to Lucid Aerials</h2>
        <button class="b-play-video" ng-click="playVideo()" type="button">Watch Video</button>
    </div>
    <div class="home-video-filter">
        <video class="home-video-element" loop muted id="bgvid">
            <!-- <source class="home-video" src="../videos/RockClimbing.webm" type="video/webm">
 -->
            <source class="home-video" src="../videos/RockClimbing.mp4" type="video/mp4">
        </video>
    </div>

    <div class="scroll-arrow-wrapper" hide-scroll>
        <span class="scroll-arrow glyphicon glyphicon-menu-down animated infinite pulse"></span>
    </div>

    <div class="bio-wrapper">
        <h2 class="bio-header">Shea Burns</h2>
        <p class="bio-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
</div>
