<div class="home-wrapper" id="footer">
    <div class="home-video-wrapper">
        <video class="home-video" autoplay loop muted id="bgvid">
            <source src="../videos/WebsiteVideo.mp4" type="video/mp4">
        </video>
        <div class="video-overlay">
            <h2 class="site-title">SheaBurnsHimself</h2>
            <img class="logo" src="../images/c-transparent-logo-cropped.png">
            <h3 class="site-sub-heading">Northern California Photography & Cinematography</h3>
            <button fade-overlay class="b-play-video" ng-click="home.playVideo()" type="button">Watch Video</button>
            <div class="scroll-arrow glyphicon glyphicon-menu-down" hide-scroll></div>
        </div>
    </div>

    <div class="bio-wrapper">
        <h2>Shea Burns</h2>
        <h3 class="site-sub-heading">Founder of Lucid Aerials</h3>
        <hr />
        <img class="selfie" src="../images/c-orchard-selfie.jpg" alt="Shea Burns">
        <p class="bio-text">
            Shea Burns has always possessed a creative vision above and beyond the ordinary imagination.  He was born into an inventive family where he began his career in front of movie and film cameras.  Because cameras and computers have always been a part of his life, they are second nature to him and he maintains a clearheaded, self-assured, easygoing manner when dealing with his own artistic imaginative process.

            Shea was homeschooled in a computer based learning program and spent much of his time with his brothers making movies, playing music, raising animals, gaming, building forts in the tops of trees and hiking in the woods.  This gave him a love of the natural world and a desire to create an original perspective when viewing the world.

            He has been shooting photos and video at weddings since he was 16 and turned the video side of that into a passion for computers, planes, and anything that flies. Thus the quadcopter was a perfect fit for his surreal, beautiful, avant guard look at things and Lucid Aerials was born.  His uncanny editing ability and his choice of music make for a harmonious creative rocking shit kicking adventure.

            Enjoy!!
        </p>
        <hr />
    </div>

    <footer></footer>
</div>
