<div class="picture-wrapper" id="footer">
    <div image-dropdown class="picture-repeat" index="$index" ng-class="{ 'expanded': expanded == $index }" ng-repeat="picture in lazyLoadImages" ng-click="expand($index)" ng-style="{ 'background-image': picture.smallImage }">
        <p class="picture-description">{{picture.description}}</p>
    </div>
    <div class="load-more" ng-hide="allLoaded">
    	<button class="load-more-btn" ng-click="grabImages()" type="button">Load More</button>
    </div>
    <footer class="last-item"></footer>
</div>