<div class="video-wrapper" id="top">
    <div class="video-repeat" ng-class="{ 'expanded': expanded == $index }" ng-repeat="youtubeVideo in videos" ng-click="expand($index)" ng-style="{ 'background-image': getImage(index, youtubeVideo) }" scroll-to="top" easing="easeInOutQuart" role="presentation">
        <h3 class="video-title">{{youtubeVideo.title}}</h3>
        <span video-play-button class="play-button play-button{{$index}} glyphicon glyphicon-play" ng-click="play($index)" ng-show="playReady"></span>
        <!-- <youtube-video ng-repat="video in videos" video-id="{{video}}"></youtube-video> -->
        <div class="gradient"></div>
        <div class="countdown-timer">Autoplay Next Video: <br>{{seconds}}</p>
    </div>
</div>


